In [1]:
import pandas as pd

In [2]:
df = pd.read_json("datafinal.json")
df

,ID,Text,ContainsCode,CodeList
0,1,Test-driven development (TDD) is a software de...,,
1,2,Software development is an exciting field that...,False,
2,3,The development process often starts with a co...,,
3,4,Another important aspect of software developme...,True,git commit -m 'Initial commit'
4,5,"In the world of software development, language...",False,
...,...,...,...,...
1903,1904,"Software development, an integral part of any ...",True,List<String> names = new ArrayList<String>();
1904,1905,"In the world of software development, one of t...",False,
1905,1906,Web development is a popular field in software...,,
1906,1907,C++ is a general-purpose programming language ...,,
1907,1908,Mobile app development is a type of software d...,False,

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1908 entries, 0 to 1907
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            1908 non-null   int64
 1   Text          1908 non-null   object
 2   ContainsCode  1908 non-null   object
 3   CodeList      1908 non-null   object
dtypes: int64(1), object(3)
memory usage: 74.5+ KB

### Write code to process the data and populate each row with the respective code. Keep in mind that this is not a machine learning problem; you can use any software engineering approach to fill the rows with code

In [4]:
df["CodeList"].fillna("",inplace=True) ## Incase if it contain any NaN values

In [5]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
s1 = df["CodeList"]
t1 = mlb.fit_transform(s1)

In [6]:
submission = pd.DataFrame(t1)

In [7]:
submission

,0,1,2,3,4,5,6,7,8,9,...,83,84,85,86,87,88,89,90,91,92
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1903,1,0,0,0,0,0,0,0,1,1,...,1,0,0,1,0,1,0,0,0,0
1904,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1905,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1906,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1907,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Make sure the matrix of submission file is always 1908 rows × 93 columns

In [8]:
submission.to_csv("submission.csv",index=False)